{% extends 'base.html.twig' %}

{% block title %} Ajout mot clés {% endblock %}
{# {% block title %} {{ titreSite }} {% endblock %} #}

{% block body_id %}app{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <h1>Ajouter des clés</h1>

    {{ form_start(addkeyForm)}}
        {{ form_row(addkeyForm.name, {
            label: 'nom : '
        })}}

        <br>

   


        <button class="btn" type="submit">Enregistrer</button>
    {{ form_end(addkeyForm) }}
    {% include 'footer.html.php' %}
{% endblock %}